body{
font-family:Arial;
background:#f2f6f8;
padding:40px;
}

h1,h2{
color:#2c7a7b;
}

form{
background:white;
padding:20px;
width:300px;
border-radius:5px;
}

input,select,textarea{
width:100%;
padding:8px;
margin-top:5px;
}

button{
background:#2c7a7b;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
}

button:hover{
background:#1f5a5c;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}

button{
background:#2c7a7b;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

button:hover{
background:#1f5a5c;
}